:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin: 0.3em 0 0 0.5em;
    font-size: 1.3rem
}

.mandel {
    max-width: 97vw;
    width: auto;
    height: auto;
    max-height: 50vh;
}

.inputs {
    display: flex;
    align-items: center;
}

.inputs > input {
    width: 35vw;
    max-width: 120px;
    margin: 0 1em 0 1em;
    border: solid;
    border-width: 0.1em;
    text-align: right;
}
.axis-label {
    margin-left: 1em;
}

#submit {
    margin-top: 1em;
    text-align: center;
}

@media (min-width: 700px) {
    :root {
        padding: 0 0 0 5vw;
    }
}
@media (min-width: 800px) {
    :root {
        padding: 0 0 0 10vw;
    }
}
@media (min-width: 900px) {
    :root {
        padding: 0 0 0 15vw;
    }
}
@media (min-width: 1000px) {
    :root {
        padding: 0 0 0 20vw;
    }
}
@media (min-width: 1300px) {
    :root {
        padding: 0 10vw 0 10vw;
    }
    .content {
        flex-direction: row;
    }
    .mandel {
        max-height: 97vh;
    }
    img {
        margin-right: 2rem;
    }

}